<!DOCTYPE html>
<html lang="en">
<head>
    <title>Startup Essentials home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dist/grid.css" rel="stylesheet">
</head>

<body>
  <div class="container">
   
   </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
