<!DOCTYPE html>
<html lang="en">
<head>
	  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
    <title>Startup Essentials welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dist/grid.css" rel="stylesheet">
    
    <script>
      function validateForm(){
        var a=document.forms["signup"]["first_name"].value;
        var b=document.forms["signup"]["last_name"].value;
        var c=document.forms["signup"]["email"].value;
        var f=document.forms["signup"]["password"].value;
        if (a==null || a=="" || b==null || b=="" || c==null || c=="" || f==null || f==""){
        alert("Todos los campos son oblligatorios");
        return false;
        }
      }
    </script>
    <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
	  
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '367386213424432',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
 
  function testAPI() {
  var img = "";
  FB.api(
    "/me/picture",
    {
        "redirect": false,
        //"height": "200",
        "type": "large",
       // "width": "200"
    },
    function (response) {
      if (response && !response.error) {
        /* handle the result */
		img = response.data.url;
		console.log(img);		
      }
    }
	);
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
	  $.getJSON("/fblogin/",{ email: response.email, first_name: response.first_name, last_name: response.last_name, imagen: img })
	 .done(function(data){
	 alert(data.result);
	 window.location.assign("home/");
	 })
    });
	
  }
</script>
</head>
<body>
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '367386213424432',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <div class="container">  
    
    <h2>Bienvenido a Startup Essentials</h2>
		<legend>Para ingresar con su cuenta de Facebook por favor de click en el siguiente botón</legend>
	 
	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">		
	</fb:login-button>
	<br><br>
      <form method="post" action="/signin/">
        {% csrf_token %}
        <fieldset>
         {% if bad_login %}
          <p>Usuario o contrasena errdados</p>
         {% endif%}
          <legend>Login</legend>
          <br>
          <label>Email</label><br>
          <input name="email" size="30"><br>
          <label>Password</label><br>
          <input name="password" size="30" type="password">
          <br><br>
          <button>Ingreso de usuarios registrados</button>
        </fieldset>
      </form>  
      <br><br>
      <form method="post" action="/signup/" name="signup" onsubmit="return validateForm()">
        {% csrf_token %}
        <fieldset>
          <legend>¿Eres nuevo? Crea una cuenta</legend>
          <br>
          <label>Nombre</label><br>
          <input name="first_name" size="30"><br>
          <label>Apellido</label><br>
          <input name="last_name" size="30"><br>
          <label>Email</label><br>
          <input name="email" size="30"><br>
          <label>Contraseña</label><br>
          <input type="password" name="password" size="30">
          <br><br>
          <button>Crear mi cuenta</button>
        </fieldset>
      </form> 
	  <br><br>
		
  </div>
  
</body>

</html>
