<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transacción completada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dist/grid.css" rel="stylesheet">
</head>

<body>
  <div class="container"> 
    <h4>{{u.first_name}}, tu transaccion ha sido completada</h4>
    
    <p>Acabas de adquirir {{shares}} accion(nes) de {{s.startupName}}</p>
   
    <a href="/home">Volver a inicio</a>
  </div>
</body>
</html>
